.bottom-menu {
  margin: 0;
  border: none;
  opacity: 1;
  width: 100%;
  font-size: 2rem;
  .navbar-nav>li>a  {
    color: black;
    &:hover {
      color: #123dff;
      font-weight: bold;
      font-size: 2.1rem;
    }

  }

  .navbar-nav {
    display: inline-flex;
  }
}
