.top-menu,.navbar-default {
  background-color: rgba($color: #fff, $alpha: 1.0);
  border: none;
  opacity: 0.8;
  margin: 0;
  z-index: 2;
  width: 100%;
  top: 0;
  .navbar-brand {
    padding: 0;
    margin: 0;
  }
  .navbar-nav {
    li>a {
      font-size: 2rem;
      color: black;
      &:hover {
        font-size: 2.2rem;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    .logo {
      width: 250px;
      height: 110px;
    }
  }
}
@media (max-width: 767px) {
  .navbar-brand {
    .logo {
      width: 150px;
      height: 70px;
    }
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 1.0);
  }
}