.main-products-container {
  //background-image: radial-gradient( #b0d6e4, #e2ecdc);
  //font-family: Arial, sans-serif;
  .logo {
    width: 350px;
    height: 200px;
  }
  p {
    font-size: 2.3rem;
    letter-spacing: 2px;
  .description-important {
    font-weight: bolder;
  }
  }
}

.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 20px;
  h1 {
    font-size: 6rem;
  }
}

//Header of products
.products-row:nth-child(1) > h2 {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.76), rgba(184, 199, 118, 0.582));
  -webkit-background-clip: text;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
}

.products-row:nth-child(2) > h2 {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.76), rgba(184, 199, 118, 0.582));
  -webkit-background-clip: text;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-width: 1px;
}

.products-row {
  h2 {
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
  }

  .product-element-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    .img-thumbnail {
      max-width: 50%;
    }
    .products-description {
      display: flex;
      align-items: center;
      border: 1px solid black;
      ul {
        padding: 15px;
      li {
        list-style: none;
        text-align: justify;
        padding: 5px;
        .product-text {
          font-weight: bolder;
          color: black;
        }
      }
      }
    }
    ul > li:nth-child(5) {
      color: green;
    }
  }
}
@media (min-width: 749px) {
  .product-element-container {
    .products-description {
      ul > li {
        font-size: 1.8rem;
      }
    }
    .img-thumbnail {
      max-height: 400px;
    }
  }
}

@media (max-width: 748px) {
  .product-element-container {
    .products-description {
      ul > li {
        font-size: 1.1rem;
      }
    }
  }
  .img-thumbnail {
    max-height: 250px;
  }
}

@media (max-width: 512px) {
  .product-element-container {
    .products-description {
      ul > li {
        font-size: 0.8rem;
      }
    }
  }
  .img-thumbnail {
    max-height: 220px;
  }
}

