.main-products-container {
  //background-image: radial-gradient( #b0d6e4, #e2ecdc);
  font-family: Arial, sans-serif;
}

.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 20px;
  h1 {
    font-size: 5rem;
  }
}
#root > div > div > div > div.row > div > div:nth-child(1) > h2 {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.76), rgba(184, 199, 118, 0.582));
  -webkit-background-clip: text;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 1px;
}
#root > div > div > div > div.row > div > div:nth-child(2) > h2 {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.76), rgba(184, 199, 118, 0.582));
  -webkit-background-clip: text;
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke-width: 1px;
}


.products-row {
  h2 {
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
  }

  .product-element-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    img {
      max-width: 50%;
      max-height: 400px;
    }
    .products-description {
      display: flex;
      align-items: center;
      border: 1px solid black;
      li {
        list-style: none;
        text-align: justify;
        padding: 5px;
        .product-text {
          font-weight: bolder;
          color: black;
        }
      }
    }
    ul > li:nth-child(5) {
      color: green;
    }
  }
}


@media (min-width: 749px) {
  .products-description {
    width: 600px;
    font-size: 2rem;
    li {
      width: 90%;
      font-size: 2.1rem;
    }
  }

}

